.clock {
    margin: 0 auto;
    color: black;
}

#Date {
    font-size: 36px;
    text-align: center;
}

ul {
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

    ul li {
        display: inline;
        font-size: 5em;
        text-align: center;
    }

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 10px;
    padding-right: 10px;
}

@-webkit-keyframes mymove {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
    }
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
    }
}
