@{
    ViewBag.Title = "Quên Mật Khẩu";
}

<div>
    <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
            <h4>
                <i class="glyphicon glyphicon-user"></i>
                Quên Mật Khẩu?
            </h4>
        </div>
        <div id="form-olvidado" class="col-md-8 col-md-offset-2">
            @Html.Partial("Parital/_ForgotPassword")
        </div>
    </div>
</div>
