@{
    ViewBag.Title = "Đăng Nhập";
}
<div>
    <div class="col-xs-8 col-xs-offset-2">
        <div class="page-header">
            <h4>
                <i class="glyphicon glyphicon-user"></i>
                Tài Khoản Truy Cập
            </h4>
        </div>
        <div id="form-olvidado" class="col-xs-6 col-xs-offset-3">
            @Html.Partial("Parital/_Login")
        </div>
    </div>
</div>
