@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Views/Shared/Layout/_Admin.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Quản lý tài khoản</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
<div class="row">
      <div id="replacetarget">
           @{ Html.RenderAction("Index", "AdminAccountAction"); }
       </div>
</div>
@section Scripts {
        <script>
            $(document).ready(function () {
                $('.quantrihethong').addClass('active');
                $('.ulht').addClass('in');
                $('.taikhoan').addClass('active');
            });
        </script>
}



