@{
    ViewBag.Title = "Giới Thiệu";
}

<div class="col-lg-10 col-lg-offset-1">
    <div class="page-header">
        <h2>@ViewBag.Title</h2>
    </div>
    <div>
        <p>Để c&oacute; thể mở được c&aacute;nh cổng chuy&ecirc;n nghiệp, c&aacute;c bạn học sinh phải lu&ocirc;n kh&ocirc;ng ngừng cố gắng &ocirc;n tập thật nhiều. Ngo&agrave;i những kiến thức nền tảng được học tại trường, c&aacute;c học sinh phải kh&ocirc;ng ngừng t&igrave;m t&ograve;i, học hỏi th&ecirc;m ở những nguồn t&agrave;i liệu kh&aacute;c nhau.</p>

        <p>Với sự ph&aacute;t triển như vũ b&atilde;o của th&ocirc;ng tin, học sinh sẽ c&oacute; th&ecirc;m nhiều nguồn t&agrave;i liệu kh&aacute;c nhau, l&agrave;m phong ph&uacute; kiến thức của bản th&acirc;n. Tuy nhi&ecirc;n, cũng sẽ c&oacute; kh&ocirc;ng &iacute;t học sinh cảm thấy băn khoăn để lựa chọn cho m&igrave;nh một phương tiện &ocirc;n tập hiệu quả.</p>

        <p>Đ&acirc;y ch&iacute;nh l&agrave; l&iacute; do th&ocirc;i th&uacute;c ch&uacute;ng t&ocirc;i nảy sinh &yacute; định th&agrave;nh lập một website chuy&ecirc;n biệt , cung cấp hệ thống thi trắc nghiệm trực tuyến, gi&uacute;p c&aacute;c bạn th&iacute; sinh r&egrave;n luyện được kỹ năng l&agrave;m b&agrave;i thi. Từ đ&oacute; ho&agrave;n thiện phần kiến thức của bản th&acirc;n, củng cố sự tự tin để d&agrave;nh chiến thắng trong k&igrave; thi CĐ &ndash; ĐH đang đến dần.</p>

        <p>Trực thuộc <strong>Trường Đại học Điện Lực</strong>, website sẽ cung cấp cho bạn những kiến thức chuy&ecirc;n s&acirc;u dưới dạng c&acirc;u hỏi, đề thi thuộc c&aacute;c m&ocirc;n: <strong>Vật L&yacute;, H&oacute;a Học , Anh Văn , Sinh Học</strong>. Ngo&agrave;i ra, website c&ograve;n cung cấp cho sĩ tử cả những đề thi CĐ &ndash; ĐH từ c&aacute;c năm trước, gi&uacute;p bạn c&oacute; cơ sở để so s&aacute;nh v&agrave; đối chiếu.</p>

        <p>Với t&iacute;nh năng nổi bật: giao diện th&acirc;n thiện, dễ sử dụng c&ugrave;ng hệ thống c&acirc;u hỏi phong ph&uacute; được cập nhật li&ecirc;n tục v&agrave; c&aacute;ch ra đề theo cấu tr&uacute;c thi CĐ &ndash; ĐH, hệ thống t&iacute;nh điểm tự động th&ocirc;ng minh, website hứa hẹn sẽ mang lại những hiệu quả t&iacute;ch cực cho c&aacute;c sĩ tử.</p>

        <p>Website cung cấp cho sĩ tử c&aacute;c nh&oacute;m kiến thức:</p>

        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Kiến thức Vật l&yacute;</strong>: Cung cấp cho c&aacute;c học sinh những kiến thức tổng quan nhất của chương tr&igrave;nh vật l&yacute; THPT qua kho đề thi đa dạng, phong ph&uacute; được nh&oacute;m bi&ecirc;n soạn tổng hợp v&agrave; lựa chọn qua kỳ thi của c&aacute;c năm.</p>

        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Kiến thức H&oacute;a học</strong>: Cung cấp cho học sinh những kiến thức v&agrave; kỹ năng vững chắc để giải đ&aacute;p c&aacute;c đề thi H&oacute;a học, t&oacute;m tắt&nbsp;những điểm cơ bản của m&ocirc;n H&oacute;a học cấp 3, gồm c&aacute;c nội dung sau đ&acirc;y: Cấu tạo nguy&ecirc;n tử, Li&ecirc;n kết h&oacute;a học, Nồng độ dung dịch, Sự điện ly, Điện ph&acirc;n, Kim loại, Oxit Kim loại, Phi kim, H&oacute;a hữu cơ.</p>

        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Kiến thức Sinh học</strong>: Cung cấp cho học sinh những đề thi từ cơ bản đến n&acirc;ng cao trong chương tr&igrave;nh Sinh học THPT, gi&uacute;p bạn c&oacute; thể ho&agrave;n thiện tốt qu&aacute; tr&igrave;nh &ocirc;n luyện bằng c&aacute;c dạng đề thi kh&aacute;c nhau qua c&aacute;c năm.</p>

        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Kiến thức tiếng Anh</strong>: Cung cấp cho bạn những kiến thức từ cơ bản đến n&acirc;ng cao bằng c&aacute;c dạng đề thi, dạng b&agrave;i tập kh&aacute;c nhau đ&atilde; được nh&oacute;m bi&ecirc;n soạn lựa chọn kĩ lưỡng.</p>

        <p>Trong qu&aacute; tr&igrave;nh tổng hợp v&agrave; bi&ecirc;n soạn, website đ&atilde; nhận được rất nhiều sự quan t&acirc;m g&oacute;p &yacute; từ ph&iacute;a c&aacute;c giảng vi&ecirc;n v&agrave; học vi&ecirc;n của trường. B&ecirc;n cạnh đ&oacute;, ch&uacute;ng t&ocirc;i rất mong nhận được &yacute; kiến đ&oacute;ng g&oacute;p từ ph&iacute;a c&aacute;c thầy c&ocirc; gi&aacute;o, c&aacute;c bậc phụ huynh v&agrave; học sinh để website ng&agrave;y một ho&agrave;n thiện hơn.</p>

        <p style="text-align: right">Ch&acirc;n th&agrave;nh cảm ơn!</p>
    </div>
</div>
