@model EUTmvc.Models.Admin.AdminExamAddAction
@{
    Layout = "~/Views/Shared/Layout/_Admin.cshtml";
}

<div class="row">
    @using (Html.BeginForm("Result", "AdminExamAction", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {   
        @Html.AntiForgeryToken()
        <div class="panel panel-default">
            <div class="panel-heading">
                Quản lý đề thi
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.fileQuestion, new { @class = "control-label" })
                    @Html.TextBoxFor(model => model.fileQuestion, new { @type = "file" })
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Save" />
                    <button class="btn" type="reset" data-dismiss="modal">Reset</button>
                </div>
            </div>
        </div>
    }
</div>

