<div class="art-vmenublock clearfix">
    <div class="art-vmenublockheader">
        <h3 class="t">Search</h3>
    </div>
    <div class="art-vmenublockcontent nn-search">
        <form action="#">
            <input />
        </form>
    </div>
</div>
