<div class="art-block clearfix">
    <div class="art-vmenublockheader">
        <h3 class="t">Bình Chọn</h3>
    </div>
    <div class="art-blockcontent">
        <input type="radio" id="VA" name="vote" /><label for="VA">Tuyệt vời</label>
        <br />
        <input type="radio" id="VB" name="vote" /><label for="VB">Rất tốt</label>
        <br />
        <input type="radio" id="VC" name="vote" checked/><label for="VC">Tốt</label>
        <br />
        <input type="radio" id="VD" name="vote" /><label for="VD">Tạm được</label>
        <br />
        <input type="radio" id="VE" name="vote" /><label for="VE">Tồi</label>
        <div style="text-align:right">
            <a href="#">Vote</a>
        </div>
    </div>
</div>
