@{
    ViewBag.Title = "Bạn Dám Không";
}
<link href="~/Content/style123.css" rel="stylesheet" />
<div id="content">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2 class="panel-title">Bạn dám không</h2>
        </div>
        <div class="panel-body">
            <!-- Left -->
            <div id="damkhong_left">
                <form onsubmit="return bandamkhong_enter();" action="#" method="post" class="form-inline" name="form_damkhong" id="form_damkhong">
                    <div class="damkhong_row">
                        <span class="damkhong_span_left">Điểm thành tích:</span>
                        <span class="damkhong_span_right"><span class="dong">11</span></span>
                    </div>
                    <div class="damkhong_row">
                        <span class="damkhong_span_left">Lựa chọn môn học</span>
                        <span class="damkhong_span_right">
                            <select onchange="return damkhong_topic();" class="form-control" name="dk_monhoc" id="dk_monhoc">
                                <option value="2">Hóa học</option>
                                <option value="3">Sinh học</option>
                                <option value="1">Vật lý</option>
                                <option value="8">Tiếng Anh</option>
                                <option value="13">Toán học</option>
                            </select>
                        </span>
                    </div>
                    <div class="damkhong_row">
                        <span class="damkhong_span_left">Lựa chọn khối lớp</span>
                        <span class="damkhong_span_right">
                            <select onchange="return damkhong_topic();" class="form-control" name="dk_lophoc" id="dk_lophoc">
                                <option value="4" class="dk_lop12">Lớp 12</option>
                                <option value="3" class="dk_lop11">Lớp 11</option>
                                <option value="6" class="dk_lop10">Lớp 10</option>
                            </select>
                        </span>
                    </div>
                    <div class="damkhong_row">
                        <select class="form-control" name="damkhong_chuong" id="damkhong_chuong">
                            <option value="0">Tất cả các chương</option>
                            <option value="12">Este - Lipit</option>
                            <option value="13">Cacbohiđrat</option>
                            <option value="14">Amin, Amino axit và Protein</option>
                            <option value="15">Polime và vật liệu Polime</option>
                            <option value="16">Đại cương về kim loại</option>
                            <option value="17">Kim loại kiềm, kim loại kiềm thổ, nhôm</option>
                            <option value="18">Sắt và một số kim loại quan trọng</option>
                            <option value="19">Phân biệt một số chất vô cơ</option>
                        </select>
                    </div>
                    <div class="damkhong_row">
                        <span class="damkhong_span_left">Cược điểm thành tích</span>
                        <span class="damkhong_span_right">
                            <input type="text" onchange="return dk_change_diemtt(this);" class="form-control" value="5" name="dk_diemtt" id="dk_diemtt">
                        </span>
                    </div>
                    <div class="damkhong_row">
                        <span class="damkhong_span_left">Nếu thắng bạn có</span>
                        <span class="damkhong_span_right">
                            <span class="money" id="dk_ketqua">21</span> điểm thành tích
                        </span>
                    </div>
                    <div class="damkhong_row">
                        <span class="damkhong_span_left">Số lượng câu hỏi</span>
                        <span class="damkhong_span_right dong">10</span>
                    </div>
                    <div class="damkhong_row">
                        <span class="damkhong_span_left">Yêu cầu kết quả tối thiểu</span>
                        <span class="damkhong_span_right money">8/10</span>
                    </div>
                    <div class="damkhong_row">
                        <span class="damkhong_span_left">Thời gian làm bài</span>
                        <span class="damkhong_span_right dong">15 phút</span>
                    </div>
                    <div class="damkhong_row center">
                        <div class="space10"></div>
                        <a onclick="return bandamkhong();" href="javascript:;" class="btn btn-info">Tham gia thử thách</a>
                        <div class="space10"></div>
                        <div id="dk_error" class="error hidden" style="display: block;"></div>
                        <div id="dk_non_vip" class="thongbao hidden">Chương trình dành riêng cho thành viên VIP. Bạn hãy <a href="http://www.baitap123.com/nang-cap-tai-khoan.html" class="vip_txt">Nâng cấp tài khoản VIP</a> trước khi tham gia thử thách.</div>
                    </div>
                    <input type="hidden" value="11" id="current_dtt">
                    <input type="hidden" value="0" id="current_vip">
                </form>
            </div>
            <!-- Right -->
            <div id="damkhong_right">
                <label class="dk_label">Thể lệ chương trình</label>
                <div class="damkhong_thele">
                    - Người chơi chọn 1 trong các môn học Hóa học, vật lý, sinh học và tiếng anh.
                    <br>
                    - Hệ thống sẽ sinh ngẫu nhiên 1 đề bài có số lượng <strong>10 câu hỏi</strong>, phạm vi kiến thức tổng hợp trong lớp và chương tương ứng mà bạn lựa chọn <strong>10, 11, 12</strong>.
                    <br>
                    - Thời gian làm bài <strong>15 phút</strong>.
                    <br>
                    - Sau khi bạn nộp bài hệ thống sẽ kiểm tra đáp án bài làm của bạn để kết luận bạn chiến thắng hay thất bại.
                    <br>
                    - Mốc so sánh kết quả bài làm: <strong>8/10</strong>. Nếu đạt từ 8/10 câu hỏi đúng bạn sẽ chiến thắng còn nếu không bạn sẽ thất bại.
                    <br>
                    - <strong class="dong">Nếu chiến thắng</strong>: Bạn sẽ được nhận mức thưởng = số đểm thành tích đặt cược <strong>* 3</strong> và cộng vào điểm thành tích tổng.
                    <br>
                    - <strong class="money">Nếu thua</strong>: Bạn sẽ bị mất toàn bộ số điểm thành tích bạn mang ra đặt cược.
                    <br>
                    - Chương trình dành riêng cho thành viên <span class="user_vip">VIP</span> tham gia.
                    <br>
                    - Số lần tham gia: <strong>không hạn chế</strong>.
                    <br>
                    - Mức đặt cược tối thiểu: <strong>5 điểm thành tích</strong>.
                    <br>
                    - Mức đặt cược tối đa: <strong>10 điểm thành tích</strong>.
                    <br>
                </div>
            </div>
            <div class="damkhong_note">
                - Điểm thành tích đạt được / mất đi không ảnh hưởng tới bảng xếp hạng. Chỉ ảnh hưởng tới điểm thành tích tổng
                <br>
                - Nếu có nhiều điểm thành tích, bạn có thể quy đổi sang ngày VIP theo chức năng đổi điểm thành tích =&gt; VIP trong trang cá nhân.
               
            </div>
        </div>
    </div>
</div>
