@model EUTmvc.Models.Subtests
@{
    ViewBag.Title = "Thi";
}
<script type="text/javascript">
    $(document).ready(function () {
        var id = $('#IDSubtest').text();
        if (id != null) {
            $('#SelectSubtests').val(trimSpace(id));
        }
    });
    function trimSpace(str) {
        return str.replace(/^\s*/, "").replace(/\s*$/, "");
    }
</script>
<div class="col-lg-10 col-lg-offset-1">
    <div class="page-header">
        <h2>Chào mừng bạn đến với Website thi trực tuyến</h2>
    </div>
    <div>

        <div id="IDSubtest" style="display: none;">
            @if (ViewBag.Id != null){@ViewBag.Id}
        </div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label class="col-md-3 control-label">Chọn Môn</label>
                <div class="col-lg-4">
                    @Html.DropDownListFor(m => m.SelectSubtests, new SelectList(Model.subtests, "ID", "Name"), "Chọn Môn Thi", new { @class = "form-control" })

                    <small class="help-block">
                        @Html.ValidationMessageFor(m => m.SelectSubtests)
                    </small>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-5 col-md-offset-3">
                    <button type="submit" class="btn btn-default">Làm Bài Thi</button>
                </div>
            </div>
        }
    </div>
    <hr />
    <div class="form-group">
        <ul>
            <li>Đề thi được xây dựng theo hướng bám sát cấu trúc đề thi tuyển sinh ĐH &ndash; CĐ cúa Bộ GD&amp;DT dưới hình thi trực tuyến. Chúng tôi mong muốn mang tới cho các bạn cơ hội cọ sát với đề thi ,rèn luyện kỹ năng kiến thức và tâm lý làm bài với thời gian thi như thật.</li>
            <li>Sau khi trả lời hết tất cả các câu hỏi , bạn click vào nút “Nộp bài” để kết thúc bài thi . Hệ thống sẽ đối chiếu câu trả lời của bạn và đáp án của đề thi và trả kết quả về cho bạn.</li>
            <li>Nếu hết thời gian làm bài mà bạn chưa click vào nút “Nộp bài”, hệ thống sẽ tự động chuyển sang trang kết quả.</li>
            <li class="thi_last">Nếu trong quá trình làm bài thi nếu bạn đóng của sổ thi lại hoặc refresh (F5) lại trang thi bài thi đó sẽ bị hủy không được tính điểm.</li>
        </ul>
    </div>
</div>


