@{
    ViewBag.Title = "Kết Quả Thi";
}

<div class="col-lg-10 col-lg-offset-1">
    <div class="page-header">
        <h2>@ViewBag.Title</h2>
    </div>
    <div style="text-align: center;">
        <div>
            Số điểm bạn đạt được : @ViewBag.kq.ToString()
        </div>
        <div>
            Xem lại bài thi click <a href="/Exam/ViewTestResult/@ViewBag.Id">vào đây</a>
        </div>
    </div>
</div>
