USE [master]
GO
/****** Object:  Database [EUT]    Script Date: 12/20/2014 10:23:07 AM ******/
CREATE DATABASE [EUT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EUT', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EUT.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EUT_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EUT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EUT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EUT]
GO
/****** Object:  Table [dbo].[tblAccount]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[PassWord] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](50) NULL,
	[EmailCode] [nvarchar](16) NULL,
	[StatusAccountId] [int] NOT NULL,
	[Status] [bit] NOT NULL,
	[EndTime] [datetime] NULL,
	[NewTime] [datetime] NULL,
	[GroupAcountId] [int] NOT NULL,
	[PersonId] [int] NOT NULL,
	[AccumulatedPoints] [int] NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_tblAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblArea]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblArea](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_Area] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblAuthorities]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAuthorities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblAuthorities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](200) NOT NULL,
	[SubtestId] [int] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_tblCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblChallenge]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChallenge](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[RivalId] [int] NULL,
	[CategoryId] [int] NOT NULL,
	[FormId] [int] NULL,
	[AccumulatedPoints] [int] NOT NULL,
	[Status] [int] NULL,
	[ExamQuestionId] [int] NULL,
	[ResultId] [int] NULL,
	[ResultRivalId] [int] NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblChallenge] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCountry]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCountry](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[AreaId] [int] NOT NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDegree]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDegree](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_Degree] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDistrict]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDistrict](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_District] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblExamQuestion]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblExamQuestion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Title] [nvarchar](200) NULL,
	[ExamStructId] [int] NOT NULL,
	[QuestionId] [nvarchar](500) NOT NULL,
	[AccumulatedPoints] [int] NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_tblExamQuestion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblExamStruct]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblExamStruct](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[FormId] [int] NULL,
	[GradeId] [int] NULL,
	[EasyNumber] [int] NULL,
	[AverageNumber] [int] NULL,
	[HardNumber] [int] NULL,
	[CategoryNumber] [int] NULL,
	[Description] [nvarchar](200) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_tblExamStruct] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblForm]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblForm](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[QuestionNumber] [int] NULL,
	[Time] [int] NULL,
	[Request] [float] NULL,
 CONSTRAINT [PK_tblForm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblGrade]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGrade](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblGrade] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblGroupAcount]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGroupAcount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_tblGroupAcount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLevel]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLevel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Difficulty] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_tblLevel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblNews]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblNews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[Image] [nvarchar](50) NULL,
	[News] [ntext] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_tblNews_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPerson]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPerson](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Sex] [bit] NULL,
	[DateOfBirth] [datetime] NULL,
	[Address] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Occupation] [nvarchar](50) NULL,
	[DegreeId] [int] NULL,
	[SchoolId] [int] NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_tblPerson] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblQuestion]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQuestion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[CategoryId] [int] NULL,
	[LevelId] [int] NULL,
	[FormId] [int] NULL,
	[Contents] [ntext] NULL,
	[Answer] [nvarchar](1) NULL,
	[AnswerA] [nvarchar](max) NULL,
	[AnswerB] [nvarchar](max) NULL,
	[AnswerC] [nvarchar](max) NULL,
	[AnswerD] [nvarchar](max) NULL,
	[AnswerDetail] [ntext] NULL,
	[SuggestionId] [int] NULL,
	[ModifiedCount] [int] NULL,
	[Description] [nvarchar](100) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblQuestion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblResult]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblResult](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[AccountId] [int] NULL,
	[ExamQuestionId] [int] NULL,
	[Seed] [int] NULL,
	[Answer] [nvarchar](100) NULL,
	[ExecutionTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Point] [float] NULL,
	[AccumulatedPoints] [int] NULL,
 CONSTRAINT [PK_tblResult] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSchool]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSchool](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NULL,
	[DistrictId] [int] NOT NULL,
	[CountryId] [int] NOT NULL,
	[AreaId] [int] NOT NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Website] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_School] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblStatusAccount]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStatusAccount](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_tblStatusAccount] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblStructContent]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStructContent](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[ExamStructId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[EasyNumber] [int] NOT NULL,
	[AverageNumber] [int] NOT NULL,
	[HardNumber] [int] NOT NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_tblStructContent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSubtest]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSubtest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_tblSubtest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSuggestion]    Script Date: 12/20/2014 10:23:07 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSuggestion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Contents] [nvarchar](max) NULL,
	[Description] [nvarchar](50) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime] NULL,
	[ModifiedCount] [int] NULL,
 CONSTRAINT [PK_Suggestion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[tblAccount] ON 

INSERT [dbo].[tblAccount] ([Id], [Account], [PassWord], [Image], [EmailCode], [StatusAccountId], [Status], [EndTime], [NewTime], [GroupAcountId], [PersonId], [AccumulatedPoints], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (2, N'admin', N'21232f297a57a5a743894a0e4a801fc3', N'admin.png', NULL, 1, 1, CAST(0x0000A40200A425BC AS DateTime), CAST(0x0000A40200A45386 AS DateTime), 1, 1, NULL, NULL, NULL, NULL, N'admin', CAST(0x0000A3C2008BDED3 AS DateTime), NULL)
INSERT [dbo].[tblAccount] ([Id], [Account], [PassWord], [Image], [EmailCode], [StatusAccountId], [Status], [EndTime], [NewTime], [GroupAcountId], [PersonId], [AccumulatedPoints], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (3, N'vanha', N'e10adc3949ba59abbe56e057f20f883e', NULL, N'QI5Tq4EahfkTR7i1', 1, 0, CAST(0x0000A3C200D58792 AS DateTime), CAST(0x0000A3C5007C9104 AS DateTime), 2, 2, 1000, NULL, NULL, CAST(0x0000A3B6008B6180 AS DateTime), N'vanha', CAST(0x0000A3C0012BC3D0 AS DateTime), NULL)
INSERT [dbo].[tblAccount] ([Id], [Account], [PassWord], [Image], [EmailCode], [StatusAccountId], [Status], [EndTime], [NewTime], [GroupAcountId], [PersonId], [AccumulatedPoints], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (6, N'dasdas', N'e10adc3949ba59abbe56e057f20f883e', NULL, N'Hc5cKXhd1Y1CI8j2', 2, 0, NULL, NULL, 2, 1004, NULL, NULL, N'dasdas', CAST(0x0000A3FC01053EFF AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblAccount] OFF
SET IDENTITY_INSERT [dbo].[tblCategory] ON 

INSERT [dbo].[tblCategory] ([Id], [Code], [Name], [SubtestId], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (1, N'1', N'Cơ chế di truyền và biến dị', 3, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblCategory] ([Id], [Code], [Name], [SubtestId], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (2, N'2', N'Quy luật di truyền', 3, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblCategory] ([Id], [Code], [Name], [SubtestId], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (3, N'3', N'Di truyền quần thể', 3, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
SET IDENTITY_INSERT [dbo].[tblChallenge] ON 

INSERT [dbo].[tblChallenge] ([Id], [AccountId], [RivalId], [CategoryId], [FormId], [AccumulatedPoints], [Status], [ExamQuestionId], [ResultId], [ResultRivalId], [CreatedBy], [CreatedDate]) VALUES (1, 3, NULL, 3, NULL, 10, NULL, 1, NULL, NULL, N'vanha', CAST(0x0000A4050160A1C1 AS DateTime))
INSERT [dbo].[tblChallenge] ([Id], [AccountId], [RivalId], [CategoryId], [FormId], [AccumulatedPoints], [Status], [ExamQuestionId], [ResultId], [ResultRivalId], [CreatedBy], [CreatedDate]) VALUES (2, 3, NULL, 3, NULL, 5, NULL, 1, NULL, NULL, N'vanha', CAST(0x0000A407009AE34A AS DateTime))
SET IDENTITY_INSERT [dbo].[tblChallenge] OFF
SET IDENTITY_INSERT [dbo].[tblExamQuestion] ON 

INSERT [dbo].[tblExamQuestion] ([Id], [Code], [Name], [Title], [ExamStructId], [QuestionId], [AccumulatedPoints], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (1, N'1', NULL, NULL, 1, N'21;22;23;24;25;26;27;28;29;30', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblExamQuestion] OFF
SET IDENTITY_INSERT [dbo].[tblExamStruct] ON 

INSERT [dbo].[tblExamStruct] ([Id], [Code], [Name], [FormId], [GradeId], [EasyNumber], [AverageNumber], [HardNumber], [CategoryNumber], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (1, N'1', N'Bạn Dám Không 1', 4, NULL, 4, 3, 3, 1, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblExamStruct] OFF
SET IDENTITY_INSERT [dbo].[tblForm] ON 

INSERT [dbo].[tblForm] ([Id], [Description], [QuestionNumber], [Time], [Request]) VALUES (1, N'Luyện Tập', NULL, NULL, NULL)
INSERT [dbo].[tblForm] ([Id], [Description], [QuestionNumber], [Time], [Request]) VALUES (2, N'Thi Thử', NULL, NULL, NULL)
INSERT [dbo].[tblForm] ([Id], [Description], [QuestionNumber], [Time], [Request]) VALUES (3, N'Thi Đấu', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblForm] OFF
SET IDENTITY_INSERT [dbo].[tblGroupAcount] ON 

INSERT [dbo].[tblGroupAcount] ([Id], [Code], [Name], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (1, N'admin', N'Admin', N'Quản trị viên', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblGroupAcount] ([Id], [Code], [Name], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (2, N'member', N'Member', N'Học viên', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblGroupAcount] OFF
SET IDENTITY_INSERT [dbo].[tblLevel] ON 

INSERT [dbo].[tblLevel] ([Id], [Code], [Difficulty], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (1, N'1', N'Dễ', N'Easy', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblLevel] ([Id], [Code], [Difficulty], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (2, N'2', N'Trung Bình', N'Average', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblLevel] ([Id], [Code], [Difficulty], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (3, N'3', N'Khó', N'Hard', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblLevel] OFF
SET IDENTITY_INSERT [dbo].[tblNews] ON 

SET IDENTITY_INSERT [dbo].[tblNews] OFF
SET IDENTITY_INSERT [dbo].[tblPerson] ON 

INSERT [dbo].[tblPerson] ([Id], [Code], [Name], [LastName], [Sex], [DateOfBirth], [Address], [PhoneNumber], [Email], [Occupation], [DegreeId], [SchoolId], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (1, N'1', N'Hà', N'Lê Văn', 1, CAST(0x0000841200000000 AS DateTime), N'Kim Nỗ', N'01663729680', N'halvd5tin@gmail.com', NULL, NULL, NULL, NULL, NULL, NULL, N'admin', CAST(0x0000A3C2008C204B AS DateTime), NULL)
INSERT [dbo].[tblPerson] ([Id], [Code], [Name], [LastName], [Sex], [DateOfBirth], [Address], [PhoneNumber], [Email], [Occupation], [DegreeId], [SchoolId], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (2, N'vanha', N'Hà', N'Lê Văn', 1, CAST(0x0000841200000000 AS DateTime), N'Đông Anh -Hà Nội', N'01663729680', N'vanha@gmail.com', NULL, NULL, NULL, NULL, NULL, NULL, N'vanha', CAST(0x0000A3C1013E36AA AS DateTime), NULL)
INSERT [dbo].[tblPerson] ([Id], [Code], [Name], [LastName], [Sex], [DateOfBirth], [Address], [PhoneNumber], [Email], [Occupation], [DegreeId], [SchoolId], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (1004, N'dasdas', NULL, NULL, NULL, NULL, NULL, NULL, N'am@yahoo.com', NULL, NULL, NULL, NULL, N'dasdas', CAST(0x0000A3FC01053EFF AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblPerson] OFF
SET IDENTITY_INSERT [dbo].[tblQuestion] ON 

INSERT [dbo].[tblQuestion] ([Id], [Code], [CategoryId], [LevelId], [FormId], [Contents], [Answer], [AnswerA], [AnswerB], [AnswerC], [AnswerD], [AnswerDetail], [SuggestionId], [ModifiedCount], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (9, N'6', 13, 1, 4, N'<p>Trong dao động điều h&ograve;a, gia tốc biến đổi</p>', N'B', N'Lực tác dụng có độ lớn cực tiểu.', N'Lực tác dụng bằng không', N'Lực tác dụng có độ lớn cực đại', N'Lực tác dụng đổi chiều', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblQuestion] ([Id], [Code], [CategoryId], [LevelId], [FormId], [Contents], [Answer], [AnswerA], [AnswerB], [AnswerC], [AnswerD], [AnswerDetail], [SuggestionId], [ModifiedCount], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate]) VALUES (10, N'7', 13, 1, 4, N'Trong dao động điều hòa, độ lớn gia tốc của vật', N'C', N'Tăng khi độ lớn vận tốc tăng.', N'Không thay đổi.', N'Giảm khi độ lớn vận tốc tăng.', N'Bằng 0 khi vận tốc bằng 0.', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblQuestion] OFF
SET IDENTITY_INSERT [dbo].[tblStatusAccount] ON 

INSERT [dbo].[tblStatusAccount] ([Id], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (1, N'Bình Thường', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblStatusAccount] ([Id], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (2, N'Chưa Xác Nhận Email', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblStatusAccount] ([Id], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (3, N'Chưa Cập Nhật Thông Tin Tài Khoản', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblStatusAccount] OFF
SET IDENTITY_INSERT [dbo].[tblStructContent] ON 

INSERT [dbo].[tblStructContent] ([Id], [Code], [ExamStructId], [CategoryId], [EasyNumber], [AverageNumber], [HardNumber], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (2, N'1', 1, 3, 4, 3, 3, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblStructContent] OFF
SET IDENTITY_INSERT [dbo].[tblSubtest] ON 

INSERT [dbo].[tblSubtest] ([Id], [Code], [Name], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (1, N'1', N'Hóa Học', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblSubtest] ([Id], [Code], [Name], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (2, N'2', N'Vật Lý', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblSubtest] ([Id], [Code], [Name], [Description], [CreatedBy], [CreatedDate], [ModifiedBy], [ModifiedDate], [ModifiedCount]) VALUES (3, N'3', N'Sinh Học', NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblSubtest] OFF
ALTER TABLE [dbo].[tblAccount] ADD  CONSTRAINT [DF_tblAcount_EmailStatus]  DEFAULT ((0)) FOR [StatusAccountId]
GO
ALTER TABLE [dbo].[tblAccount] ADD  CONSTRAINT [DF_tblAcount_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[tblAccount]  WITH CHECK ADD  CONSTRAINT [FK_tblAccount_tblGroupAcount] FOREIGN KEY([GroupAcountId])
REFERENCES [dbo].[tblGroupAcount] ([Id])
GO
ALTER TABLE [dbo].[tblAccount] CHECK CONSTRAINT [FK_tblAccount_tblGroupAcount]
GO
ALTER TABLE [dbo].[tblAccount]  WITH CHECK ADD  CONSTRAINT [FK_tblAccount_tblPerson] FOREIGN KEY([PersonId])
REFERENCES [dbo].[tblPerson] ([Id])
GO
ALTER TABLE [dbo].[tblAccount] CHECK CONSTRAINT [FK_tblAccount_tblPerson]
GO
ALTER TABLE [dbo].[tblAccount]  WITH CHECK ADD  CONSTRAINT [FK_tblAccount_tblStatusAccount] FOREIGN KEY([StatusAccountId])
REFERENCES [dbo].[tblStatusAccount] ([Id])
GO
ALTER TABLE [dbo].[tblAccount] CHECK CONSTRAINT [FK_tblAccount_tblStatusAccount]
GO
ALTER TABLE [dbo].[tblCategory]  WITH CHECK ADD  CONSTRAINT [FK_tblCategory_tblSubtest] FOREIGN KEY([SubtestId])
REFERENCES [dbo].[tblSubtest] ([Id])
GO
ALTER TABLE [dbo].[tblCategory] CHECK CONSTRAINT [FK_tblCategory_tblSubtest]
GO
ALTER TABLE [dbo].[tblChallenge]  WITH CHECK ADD  CONSTRAINT [FK_tblChallenge_tblCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tblCategory] ([Id])
GO
ALTER TABLE [dbo].[tblChallenge] CHECK CONSTRAINT [FK_tblChallenge_tblCategory]
GO
ALTER TABLE [dbo].[tblChallenge]  WITH CHECK ADD  CONSTRAINT [FK_tblChallenge_tblExamQuestion] FOREIGN KEY([ExamQuestionId])
REFERENCES [dbo].[tblExamQuestion] ([Id])
GO
ALTER TABLE [dbo].[tblChallenge] CHECK CONSTRAINT [FK_tblChallenge_tblExamQuestion]
GO
ALTER TABLE [dbo].[tblChallenge]  WITH CHECK ADD  CONSTRAINT [FK_tblChallenge_tblForm] FOREIGN KEY([FormId])
REFERENCES [dbo].[tblForm] ([Id])
GO
ALTER TABLE [dbo].[tblChallenge] CHECK CONSTRAINT [FK_tblChallenge_tblForm]
GO
ALTER TABLE [dbo].[tblExamQuestion]  WITH CHECK ADD  CONSTRAINT [FK_tblExamQuestion_tblExamStruct] FOREIGN KEY([ExamStructId])
REFERENCES [dbo].[tblExamStruct] ([Id])
GO
ALTER TABLE [dbo].[tblExamQuestion] CHECK CONSTRAINT [FK_tblExamQuestion_tblExamStruct]
GO
ALTER TABLE [dbo].[tblExamStruct]  WITH CHECK ADD  CONSTRAINT [FK_tblExamStruct_tblForm] FOREIGN KEY([FormId])
REFERENCES [dbo].[tblForm] ([Id])
GO
ALTER TABLE [dbo].[tblExamStruct] CHECK CONSTRAINT [FK_tblExamStruct_tblForm]
GO
ALTER TABLE [dbo].[tblExamStruct]  WITH CHECK ADD  CONSTRAINT [FK_tblExamStruct_tblGrade] FOREIGN KEY([GradeId])
REFERENCES [dbo].[tblGrade] ([Id])
GO
ALTER TABLE [dbo].[tblExamStruct] CHECK CONSTRAINT [FK_tblExamStruct_tblGrade]
GO
ALTER TABLE [dbo].[tblPerson]  WITH CHECK ADD  CONSTRAINT [FK_Person_Degree] FOREIGN KEY([DegreeId])
REFERENCES [dbo].[tblDegree] ([Id])
GO
ALTER TABLE [dbo].[tblPerson] CHECK CONSTRAINT [FK_Person_Degree]
GO
ALTER TABLE [dbo].[tblPerson]  WITH CHECK ADD  CONSTRAINT [FK_Person_School] FOREIGN KEY([SchoolId])
REFERENCES [dbo].[tblSchool] ([Id])
GO
ALTER TABLE [dbo].[tblPerson] CHECK CONSTRAINT [FK_Person_School]
GO
ALTER TABLE [dbo].[tblQuestion]  WITH CHECK ADD  CONSTRAINT [FK_tblQuestion_tblCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tblCategory] ([Id])
GO
ALTER TABLE [dbo].[tblQuestion] CHECK CONSTRAINT [FK_tblQuestion_tblCategory]
GO
ALTER TABLE [dbo].[tblQuestion]  WITH CHECK ADD  CONSTRAINT [FK_tblQuestion_tblForm] FOREIGN KEY([FormId])
REFERENCES [dbo].[tblForm] ([Id])
GO
ALTER TABLE [dbo].[tblQuestion] CHECK CONSTRAINT [FK_tblQuestion_tblForm]
GO
ALTER TABLE [dbo].[tblQuestion]  WITH CHECK ADD  CONSTRAINT [FK_tblQuestion_tblLevel] FOREIGN KEY([LevelId])
REFERENCES [dbo].[tblLevel] ([Id])
GO
ALTER TABLE [dbo].[tblQuestion] CHECK CONSTRAINT [FK_tblQuestion_tblLevel]
GO
ALTER TABLE [dbo].[tblQuestion]  WITH CHECK ADD  CONSTRAINT [FK_tblQuestion_tblSuggestion] FOREIGN KEY([SuggestionId])
REFERENCES [dbo].[tblSuggestion] ([Id])
GO
ALTER TABLE [dbo].[tblQuestion] CHECK CONSTRAINT [FK_tblQuestion_tblSuggestion]
GO
ALTER TABLE [dbo].[tblResult]  WITH CHECK ADD  CONSTRAINT [FK_tblResult_tblAccount] FOREIGN KEY([AccountId])
REFERENCES [dbo].[tblAccount] ([Id])
GO
ALTER TABLE [dbo].[tblResult] CHECK CONSTRAINT [FK_tblResult_tblAccount]
GO
ALTER TABLE [dbo].[tblResult]  WITH CHECK ADD  CONSTRAINT [FK_tblResult_tblExamQuestion] FOREIGN KEY([ExamQuestionId])
REFERENCES [dbo].[tblExamQuestion] ([Id])
GO
ALTER TABLE [dbo].[tblResult] CHECK CONSTRAINT [FK_tblResult_tblExamQuestion]
GO
ALTER TABLE [dbo].[tblSchool]  WITH CHECK ADD  CONSTRAINT [FK_School_Area] FOREIGN KEY([AreaId])
REFERENCES [dbo].[tblArea] ([Id])
GO
ALTER TABLE [dbo].[tblSchool] CHECK CONSTRAINT [FK_School_Area]
GO
ALTER TABLE [dbo].[tblSchool]  WITH CHECK ADD  CONSTRAINT [FK_School_Country] FOREIGN KEY([CountryId])
REFERENCES [dbo].[tblCountry] ([Id])
GO
ALTER TABLE [dbo].[tblSchool] CHECK CONSTRAINT [FK_School_Country]
GO
ALTER TABLE [dbo].[tblSchool]  WITH CHECK ADD  CONSTRAINT [FK_School_District] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[tblDistrict] ([Id])
GO
ALTER TABLE [dbo].[tblSchool] CHECK CONSTRAINT [FK_School_District]
GO
ALTER TABLE [dbo].[tblStructContent]  WITH CHECK ADD  CONSTRAINT [FK_tblStructContent_tblCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tblCategory] ([Id])
GO
ALTER TABLE [dbo].[tblStructContent] CHECK CONSTRAINT [FK_tblStructContent_tblCategory]
GO
ALTER TABLE [dbo].[tblStructContent]  WITH CHECK ADD  CONSTRAINT [FK_tblStructContent_tblExamStruct] FOREIGN KEY([ExamStructId])
REFERENCES [dbo].[tblExamStruct] ([Id])
GO
ALTER TABLE [dbo].[tblStructContent] CHECK CONSTRAINT [FK_tblStructContent_tblExamStruct]
GO
USE [master]
GO
