@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/Layout/_Error.cshtml";
}

<div class="box">Error</div>
<h1>CÓ LỖI XẢY RA TRÊN HỆ THỐNG</h1>
<h5>Bạn vui lòng thử lại sau hoặc liên hê với <span style="color: blue;font-size: 18px;">Administrator</span> </h5>
<div>
    <a href="/Home/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
        Trang Chủ </a>
</div>

