@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/Layout/_Error.cshtml";
}

<div class="box">404</div>
<h1>KHÔNG TÌM THẤY TRANG</h1>
<h5>Trang có thể đã bị xóa hoặc địa chỉ url không đúng.</h5>
<div>
    <a href="/Home/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
        Trang Chủ </a>
</div>
