<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    <link href="~/Content/Error.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <link href="~/Content/digital-clock.css" rel="stylesheet" />
    <script src="~/Scripts/digital-clock.js"></script>
</head>
<body>
    <div>
        <div class="container" id="error-page">
            <div class="row" id="error-inner">
                <div class="col-md-12">
                    <div class="clock">
                        <div id="Date"></div>
                        <ul>
                            <li id="hours"></li>
                            <li id="point">:</li>
                            <li id="min"></li>
                            <li id="point">:</li>
                            <li id="sec"></li>
                        </ul>
                    </div>
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</body>
</html>
